<!-- CARTE -->

<div class="container-fluid" *ngIf="markerLoaded">
  <div class="row">
    <div class="col-7">
      <!-- FAIRE APPEL API -->
      <google-map
        height="675"
        width="100%"
        (mapClick)="click($event)"
        [center]="myCenter"
        [zoom]="myZoom"
      >
        <map-marker
          #marker
          *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
          (mapClick)="clickMarker(marker)"
        >
        </map-marker>
      </google-map>
    </div>
    <div class="col-5">
      <display-releves> </display-releves>
    </div>
  </div>
</div>
<div class="container" *ngIf="!markerLoaded">
  <mat-spinner class="m-auto" color="warn"></mat-spinner>
</div>
